@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');

@keyframes cursor {
  to {
      border-color: transparent;
  }
}

html {
  font-family: 'NanumSquareNeo';
}

.y-margin {
  padding: 5.55rem 6.6rem 3.83rem;
}

.snap-section {
  scroll-snap-align: start end;
  -webkit-scroll-snap-align: start end;

  min-height: var(--y-scrollHeight);

  display: flex;
}

.paragraph {
  /* position: absolute; */
  font-size: clamp(2rem,2rem + 6vw,140px);
  /* line-height: 1.4em; */
  width: 100%;
}

.first_line, .second_line {
  display: block;
  font-weight: 800;
  margin-bottom: 50px;
  /* font-size: 17em; */
  font-size: clamp(2rem,2rem + 6vw,140px);
}

.second_line {
  display: table-cell;
  vertical-align: middle;
  border-right: 0.05em solid #111111; 
  animation: cursor 1s ease infinite;
}