@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');

@keyframes cursor {
  to {
      border-color: transparent;
  }
}

:root {
  --y-margin: 20px;
  --y-scrollHeight: 100vh;
}

html {
  font-family: 'NanumSquareNeo';
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

header>nav {
  position: fixed;
  top: var(--y-margin);
  right: var(--y-margin);
}

header>nav ul {
  text-align: right;
}

header>nav ul li a {
  border: 1px solid #000;
  background-color: #fff;
  padding: 0.44em 0.6em 0.44em 0.55em;
  display: inline-block;
  margin-top: -1px;
  color: #000;
  isolation: isolate;
  transition: .25s all ease-in-out;
}

/* header>nav ul li:first-child a {
  font-size: 1.111rem;
  font-weight: 900;
  font-variation-settings: "wght" 700;
  color: #fff;
  border: none;
  mix-blend-mode: difference;
  -webkit-mix-blend-mode: difference;
} */

header>nav ul li:first-child a:visited, header>nav ul li:first-child a:link {
  color: #fff;
}

.y-margin {
  padding: 5.55rem 6.6rem 3.83rem;
}

.snap-section {
  scroll-snap-align: start end;
  -webkit-scroll-snap-align: start end;

  min-height: var(--y-scrollHeight);

  display: flex;
}

.paragraph {
  /* position: absolute; */
  font-size: clamp(2rem,2rem + 6vw,140px);
  /* line-height: 1.4em; */
  width: 100%;
}

.first_line, .second_line {
  display: block;
  font-weight: 800;
  margin-bottom: 50px;
  /* font-size: 17em; */
  font-size: clamp(2rem,2rem + 6vw,140px);
}

.second_line {
  display: table-cell;
  vertical-align: middle;
  border-right: 0.05em solid #111111; 
  animation: cursor 1s ease infinite;
}

@media screen and (max-width: 600px) {
  .paragraph {
    writing-mode: vertical-lr;
  }
  .first_line {
    margin-right: 20px;
  }
  .second_line {
    border-right: none;
    border-bottom: 0.05em solid #111111;
  }
}